# vim: ft=zsh

function reset_docker_tag() {
    export DOCKER_TAG="$(git rev-parse --short HEAD)"
}

# Export various environment variables
export MY_IP=$(ip -4 route get 8.8.8.8 | awk {'print $7'} | tr -d '\n')
TOTAL_MEMORY_KB=$(grep MemTotal /proc/meminfo | awk {'print $2'})
export VIEWER_MEMORY_LIMIT_KB=$(echo "$TOTAL_MEMORY_KB" \* 0.7 | bc)

# Starting directory
if [ -d ${HOME}/screenly ]; then
    cd ${HOME}/screenly
fi

# Hard code this to latest for now.
is_inside_git_repo="$(git rev-parse --is-inside-work-tree 2>/dev/null)"
if [[ "$is_inside_git_repo" = "true" ]]; then
    export DOCKER_TAG="$(git rev-parse --short HEAD)"
fi

# Detect Raspberry Pi version
if [ -f /proc/device-tree/model ]; then
    if grep -qF "Raspberry Pi 4" /proc/device-tree/model; then
        export DEVICE_TYPE="pi4"
    elif grep -qF "Raspberry Pi 3" /proc/device-tree/model; then
        export DEVICE_TYPE="pi3"
    elif grep -qF "Raspberry Pi 2" /proc/device-tree/model; then
        export DEVICE_TYPE="pi2"
    else
        # If all else fail, assume pi1
        export DEVICE_TYPE="pi1"
    fi
fi
